[submodule "CarND-LaneLines-P1"]
	path = p1/CarND-LaneLines-P1
	url = https://github.com/udacity/CarND-LaneLines-P1
[submodule "CarND-TensorFlow-Lab"]
	path = l6/CarND-TensorFlow-Lab
	url = https://github.com/udacity/CarND-TensorFlow-Lab.git
